:root {
  --primary-text-title-color: #499a18;
  --second-text-title-color: #e06733;
  --primary-text-color: #636060;
  --second-text-color: #717171;
   --background-color: #ffffff;
   --primary-bg-color: #edf2ec;
   --second-bg-color: #d6e7d2;
  --link-color: #010201;
  --btn-color: #000000;
  --btn-accent-background: #e06733;
  --btn-color-accent: #ffffff;

}

body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: Inter, sans-serif;
  font-size: 20px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 109px;
    padding-right: 109px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
a:visited,
a:hover,
a:focus,
a:active,
:focus {
  text-decoration: none;
}

a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
}

svg {
  fill: currentColor;
}

input,
label:not([type=checkbox]) {
  display: block;
}

button {
  font-family: inherit;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  color: var(--btn-color-accent);
  background-color: var(--btn-accent-background);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------HEADER------------------ */

.header.container {
  padding-top: 36px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header.container {
    padding-top: 35px;
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 1440px) {
  .header.container {
    padding-top: 42px;
    padding-bottom: 94px;
  }
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    justify-content: right;
    gap: 46px;
  }
}

.logo,
.nav-list__link {
  color: var(--link-color);
  font-family: Inika, serif;
  font-size: 16px;
  line-height: 1.33;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus,
.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--btn-accent-background);
}

.icon-logo {
  fill: none;
  stroke: var(--primary-text-title-color);
}

/* ----------------------mobile-menu------------------ */

.mob-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  z-index: 999;
}

.menu-open,
.menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #212121;
  border: none;
  margin-left: auto;
}

.menu-open:hover,
.menu-close:hover,
.menu-open:focus,
.menu-close:focus {
  background-color: transparent;
  color: var(--btn-accent-background);
}

@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}


.mob-menu-list__item:not(:last-child) {
  margin-bottom: 15px;
}

.mob-menu-list {
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}



/* ----------------------WELCOME------------------ */

.welcome__img {
  display: none;
}

@media screen and (min-width: 768px) {
  .welcome__img {
    display: block;
  }
}

@media screen and (max-width: 1439px) {
  .welcome__img {
    height: 254px;
    width: 280px;
  }
}

.welcome .container {
  padding-top: 62px;
  padding-bottom: 62px;
  display: flex;

  font-size: 25px;
  font-weight: 700;
  line-height: 1.4;
  color: var(--second-text-color);
}

@media screen and (min-width: 768px) {
  .welcome .container {
    display: flex;
    gap: 42px;
    padding-top: 40px;
    padding-bottom: 95px;
  }
}

@media screen and (min-width: 1440px) {
  .welcome .container {
    flex-direction: row-reverse;
    padding-top: 62px;
    padding-bottom: 62px;
    gap: 224px;
    font-size: 45px;
    line-height: 1.11;

  }
}

.welcome__title--green {
  color: var(--primary-text-title-color);
}

.welcome__text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.56;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .welcome__text {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .welcome__text {
    font-size: 20px;
    line-height: 1.75;
    margin-bottom: 48px;
  }
}

.welcome__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  padding-right: 16px;

  text-transform: uppercase;
  font-size: 10px;
  line-height: 2;
  border: 2px solid var(--btn-accent-background);
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .welcome__button {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    line-height: 1.25;
  }
}



/* ----------------------ABOUT------------------ */



.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about .container {
    padding-top: 40px;
    padding-bottom: 95px;
  }
}

@media screen and (min-width: 1440px) {
  .about .container {
    flex-direction: row;
    padding-top: 93px;
    padding-bottom: 94px;
    gap: 153px;
  }
}

.about__title { 
  width: 288px; 
  color: var(--primary-text-title-color);
  font-size: 25px;
  line-height: 1.32;
  font-family: Inika, serif;
  margin-bottom: 21px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about__title {
    width: 423px; 
    font-size: 35px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .about__title {
    width: 463px; 
    text-align: left;
    font-size: 40px;
  }
}

.about__title--orange {
  color: var(--btn-accent-background);
}

.about__text {
  font-size: 15px;
  line-height: 1.67;
}

@media screen and (min-width: 768px) {
  .about__text {
    font-size: 20px;
    line-height: 1.5;
  }
}

.about__describe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .about__text {
 align-items:flex-start;
  }
}

.about__img {
  height: 150px;
  width: 147px;
}

@media screen and (min-width: 768px) {
  .about__img {
    height: 250px;
    width: 258px;
  }
}

@media screen and (min-width: 1440px) {
  .about__img {
    height: 464px;
    width: 479px;
  }
}


/* ----------------------SERVICE------------------ */
.service {
  background-color: var(--primary-bg-color);
}

.service .container {
  padding-top: 30px;
  padding-bottom: 27px;  
}

@media screen and (min-width: 768px) {
  .about .container {
    padding-top: 40px;
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 1440px) {
  .about .container {
    padding-top: 93px;
    padding-bottom: 121px;
  }
}


.service__describe {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

@media screen and (min-width: 768px) {
  .service__describe {
    gap: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .service__describe {
    flex-direction: row;
    gap: 142px;
  }
}

.service__button-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .service__button-list {
    align-items: center;
    gap: 38px;
  }
}

@media screen and (min-width: 1440px) {
  .service__button-list {
    margin-left: 142px;
  }
}

.service__title { 
  width: 187px; 
  color: var(--primary-text-title-color);
  font-size: 25px;
  line-height: 1.32;
  font-family: Inika, serif;
}

@media screen and (min-width: 768px) {
  .service__title {
    width: 306px; 
    font-size: 35px;
  }
}

@media screen and (min-width: 1440px) {
  .service__title {
    font-size: 40px;
  }
}


.service__button-item {
  min-width: 121px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: var(--btn-accent-background);

  font-family: "Inika";
  font-size: 15px;
  line-height: 1.53;

  text-transform: uppercase;
  border: 1px solid var(--btn-accent-background);
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .service__button-item {
    min-width: 161px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 20px;
    line-height: 1.3;
  }
}

.service__cards-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 34px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .service__cards-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 90px;
  }
}

.service__img {
  min-width: 100%;
}

.service__cards-item {
  border-bottom: 1px solid #e3e1d5;
  border-radius: 20px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .service__cards-item {
    width: calc((100% - 106px) / 2);
}
}
@media screen and (min-width: 1440px) {
  .service__cards-item {
    width: calc((100% - 117px) / 3);
  }
}

.service__cards-describe {
  padding-top: 10px;
  padding-bottom: 18px;
  padding-left: 39px;
  padding-right: 39px;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .service__cards-describe {
    padding-top: 10px;
    padding-bottom: 36px;
    padding-left: 31px;
    padding-right: 31px;
  }
}

.service__card-title {
  color: var(--second-text-title-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.service__card-title {
  font-size: 16px;
  line-height: 1.25;
}

/* ----------------------PRICES------------------ */


.prices .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
  padding-top: 25px;
  padding-bottom: 40px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .prices .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 88px;
  }
}

@media screen and (min-width: 1440px) {
  .prices .container {
    padding-top: 40px;
    padding-bottom: 115px;
  }
}

.prices__img {
  display: none;
}

@media screen and (min-width: 768px) {
  .prices__img {
    display: block;
  }
}

.prices__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: var(--btn-color);
  margin-bottom: 60px;
}


@media screen and (min-width: 768px) {
  .prices__contacts {
    padding-top: 99px;
    text-align: right;
  }
  .prices__filter {
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .prices__contacts {
    padding-top: 0px;
  }
}

.prices__button-list {
  border: 1px solid #E3E1D5;
  border-radius: 20px;
padding: 29px 22px;
}

@media screen and (min-width: 768px) {
  .prices__button-list {
    padding: 34px 41px;
  }
}

.prices__button-item {
  border: 1px solid #e3e1d5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 30px;
  min-width: 180px;
  background-color: var(--primary-bg-color);
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .prices__button-item {
    padding: 16px 40px;
    min-width: 250px;
  }
}

.prices__button-item+.prices__button-item {
  margin-top: 32px;
}

.prices__button-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  color: var(--second-text-color);
  background-color: #d9d9d9;
  border-radius: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prices__button-dropdown:hover,
.prices__button-dropdown:focus {
  background-color: #aea1a1;
  color: var(--background-color);
}

.prices__button-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: var(--btn-color);
}

.prices__button-icon {
  stroke: currentColor;
}


.prices__text {
  width: 230px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.75;
  color: var(--btn-color);
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .prices__text {
    width: 296px;
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 22px;
  }
}

@media screen and (min-width: 1440px) {
  .prices__text {
    width: 452px;
    font-size: 40px;
    line-height: 1.25;
    margin-bottom: 38px;
  }
}

.prices__text--green {
  color: var(--primary-text-title-color);
}

.prices__contact-button {
  width: 121px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: transparent;

  font-family: Inika, serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 39px;
  border: 1px solid #e06733;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .prices__contact-button {
    width: 162px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 20px;
  }
}

.prices__img {
  margin-left: auto;
}

/* ----------------------CONTACTS------------------ */

.contacts {
  background-color: var(--primary-bg-color);
}

.contacts .container {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contacts .container {
    padding-top: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .contacts .container {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 60px;
  }
}

.contacts__describe {
  margin-bottom: 132px;
}

@media screen and (min-width: 768px) {
.contacts__describe {
  margin-bottom: 250px;
}
}

@media screen and (min-width: 1440px) {
.contacts__describe {
  display: flex;
  gap: 64px;
}
}

.contacts__title {
  margin-bottom: 80px;
  font-family: Inika, serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3;
  color: var(--primary-text-title-color);
}

@media screen and (min-width: 768px) {
  .contacts__title {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .contacts__title {
    margin-bottom: 37px;
  }
}

.contacts__box-overlay {
  position: relative;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 35px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:var(--second-bg-color);

  font-size: 20px;
  line-height: 2;
  letter-spacing: 0.05em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
}

@media screen and (min-width: 768px) {
  .contacts__box-overlay {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__box-overlay {
    margin-top: 88px;
  }
}

.contacts__box-overlay:hover,
.contacts__box-overlay:focus {
  background-color: #c1e698;
  border: 1px solid var(--second-bg-color);
  overflow: visible;
}

.contacts__overlay-city {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: auto;
  padding: 27px 35px 31px;
  background-color: var(--second-bg-color);
}

.contacts__overlay-city__item+.contacts__overlay-city__item {
  margin-top: 12px;
}

.contacts__overlay-text {
  font-size: 16px;
  line-height: 2.5;
  letter-spacing: 0.05em;
  color: var(--primary-text-title-color);
  border-bottom: 1px solid #d9d9d9;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
}

.contacts__overlay-text:hover {
  border-bottom: 1px solid var(--second-text-color);
  color: var(--second-text-color);
}

.contacts__overlay-name {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 0.05em;
}

.contacts__overlay-button {
display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    color: var(--second-text-color);
    border-radius: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #AEA1A1;
}
.contacts__button-icon {
  stroke: var(--btn-color-accent);
}

.contacts__box-overlay:hover .contacts__button-icon {
transform: rotate(180deg);
}

/* ----------------------FOOTER------------------ */


.footer .container {
  padding-top: 22px;
  padding-bottom: 7px;
  padding-right: 85px;
  padding-left: 85px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer .container {
    padding-top: 33px;
    padding-right: 279px;
    padding-left: 279px;  }
}

@media screen and (min-width: 1440px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;  }
}

.footer__text-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__text {
  font-size: 20px;
  line-height: 2.5;
  color: var(--btn-color);
}

.copyright {
  margin-right: 20px;
}

.footer__link {
  font-size: 20px;
  line-height: 2.5;
  color: var(--btn-color);
}

.socpublic {
  display: flex;
  align-items: center;
  gap: 20px;
}

.socpublic-link {
  color: var(--btn-color);
}

.socpublic-link:hover,
.socpublic-link:focus {
  color: var(--second-text-title-color);
}

.footer__main-link {
  font-size: 20px;
  line-height: 2.5;
  color: var(--btn-color);
}

.footer__link:hover,
.footer__link:focus,
.footer__main-link:hover,
.footer__main-link:focus {
  color: var(--second-text-title-color);
}

.footer-icon {
  fill: currentColor;
}